@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
    /* background-color: rgb(242, 252, 255) !important; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arimo, sans-serif;
}

.container .row {
    margin-top: 100px;
}

.box {
    box-shadow: 0 8px 16px rgba(32, 41, 50, 0.12);
    padding: 24px;
    margin-bottom: 30px;
    background: white;
}

.box span {
    font-size: 20px ;
    /* display: inline; */
}

.box-img {
    vertical-align: center;
    margin-right: 16px;
}

.row a:hover {
    text-decoration: none;
}

@media (min-width: 1200px){
    .box span {
        vertical-align: -15px;
    }
}

@media (min-width: 992px) and (max-width:  1200px) {

}

@media (max-width:  992px) {
    .box span {
        vertical-align: -15px;
    }
}